body {
    font-family: Modak;
    background-color: darkgray;
    padding: 25px;
    font-size: 120%;
}

div#content {
    padding: 50px;
    background-color: black;
    border: ridge 10px #F67801;
    height: 80vh;
    color: #ECF2F2;
    margin: 25px 50px 75px 100px;
}

h1, h2, h3 {
    font-family: "Modak", monospace;
}

img {
    float: right;
    width: 400px;
    height: auto;
}

a {
    text-decoration: none;
    color: maroon;
}
a:hover {
    text-decoration: underline;
    text-decoration-style: wavy;
}
